.background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
        z-index: 0;
    }
.center-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(30, 96, 145, 0.8);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
.content {
            position: relative;
            z-index: 1;
            padding: 20px;
            color: white;
            font-size: 32px;
            text-align: center;
            margin-bottom: 20px;
        }
.button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
.button-container button {
            margin: 10px 0;
            width: 250px;
            height: 50px;
            padding: 10px 30px;
            font-size: 18px;
            background-color: #ffffff;
            color: #1e6091;
            border: 2px solid transparent;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
.button-container button:hover {
            background-color: #1e6091;
            color: #ffffff;
            border-color: #ffffff;
        }
.modal {
            display: none;
                position: fixed;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.8);

        }
.modal-content {
            background-color: #ffffff;
                margin: 15% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                max-width: 500px;
                border-radius: 10px;
                text-align: left;
        }
.modal-content input {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 5px 0;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
.modal-content button {
            margin: 10px 0;
            padding: 10px;
            width: 100%;
            font-size: 18px;
            background-color: #1e6091;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }