<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warsaw Monopoly Game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/start-styles.css}">
</head>
<body>
<div class="background"></div> <!-- Background container -->

<div class="center-box">
    <div class="content">
        <h2>The Warsaw Monopoly Game</h2>
    </div>
    <div class="button-container">
        <button onclick="openModal('hostModal')">Host Game Room</button>
        <button onclick="openModal('joinModal')">Join Game Room</button>
        <a th:href="@{/game/rules}">
            <button>Monopoly Rules</button>
        </a>
    </div>
</div>

<div id="hostModal" class="modal">
    <div class="modal-content">
        <h3>Host Game</h3>
        <label for="hostName">Your Name:</label>
        <input type="text" id="hostName" name="hostName" required>
        <button onclick="hostGame()">Start Hosting</button>
    </div>
</div>

<div id="joinModal" class="modal">
    <div class="modal-content">
        <h3>Join Game</h3>
        <label for="joinName">Your Name:</label>
        <input type="text" id="joinName" name="joinName" required>
        <label for="hostURL">Host URL:</label>
        <input type="text" id="hostURL" name="hostURL" required>
        <button onclick="joinGame()">Join Game</button>
    </div>
</div>

<script src="/scripts/start-scripts.js"></script>
</body>
</html>